<h1>About Page</h1>
<p>Online Dating Website is a dating website, where single people could find their true love.</p>
<p>If you have any questions, you can contact us by clicking on the following link below:</p>
<a href="/contact">Contact us</a>